<div class="container">
    <section>
        <h1>Meu primeiro módulo</h1>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" type="text" placeholder="0">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block btn-danger">C</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-block">7</button>
                        <button class="btn btn-block">4</button>
                        <button class="btn btn-block">1</button>
                        <button class="btn btn-block btn-info">.</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block">8</button>
                        <button class="btn btn-block">5</button>
                        <button class="btn btn-block">2</button>
                        <button class="btn btn-block">0</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block">9</button>
                        <button class="btn btn-block">6</button>
                        <button class="btn btn-block">3</button>
                        <button class="btn btn-block btn-success"> = </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-block btn-info">/</button>
                        <button class="btn btn-block btn-info">*</button>
                        <button class="btn btn-block btn-info">-</button>
                        <button class="btn btn-block btn-info">+</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>